body{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}

#conteneur{
    width: 70%;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

header{
    background-color: rgb(204, 0, 0);
    line-height: 100px;
    height: 100px;
}
footer{
    width: 60%;
    background-color: yellow;
    line-height: 100px;
    height: 15%;
    margin-left: 213px;
    margin-top: -100px;

}

.a{
    background-color: rgb(184, 184, 184);
    height: 600px;
    width: 20%;
    line-height: 500px;

}
.zonedroite{
    background-color: rgb(184, 184, 184);
    height: 600px;
    width: 20%;
    line-height: 500px;
    margin-left: 851px;
    margin-top: -500px;

}

.b{
    background-color: rgb(0, 12, 173);
    height: 500px;
    width: 12%;
    line-height: 500px;
    top: 100px;
    margin-left: 213px ;
    margin-top: -600px;
    font-size: 15px;

}
.c{
    background-color: rgb(11, 173, 65);
    height: 500px;
    width: 12%;
    line-height: 500px;
    margin-left: 341px ;
    margin-top: -500px;
    font-size: 15px;

}

.d{
    background-color: rgb(173, 0, 158);
    height: 500px;
    width: 12%;
    line-height: 500px;
    margin-left: 469px ;
    margin-top: -500px;
    font-size: 15px;

}

.e{
    background-color: rgb(157, 159, 179);
    height: 500px;
    width: 12%;
    line-height: 500px;
    margin-left: 597px ;
    margin-top: -500px;
    font-size: 15px;

}

.f{
    background-color: rgb(173, 118, 0);
    height: 500px;
    width: 12%;
    line-height: 500px;
    margin-left: 725px ;
    margin-top: -500px;
    font-size: 15px;

}

